<div 
style="background-image: url(/assets/footer.svg);"
class="grid cover w-full h-96 bg-no-repeat">


<div class="mx-24 flex items-center justify-start">
    <img class="h-32" src="/assets/logo.png" alt="">
</div>

<div class="grid md:grid-cols-3 items-center mb-2 mx-16 gap-4 mt-1">
        <div class="flex flex-col">
            <span class="text-xl text-white font-semibold">¡Contáctanos!</span>
            <div class="flex gap-4">
                <a href="" class="text-lg underline text-white">Nosotros</a>
                <a href="" class="text-lg underline text-white">Contacto</a>
            </div>
        </div>
        
        <div class="flex flex-col">
            <span class="text-xl text-white font-semibold">Información de contacto:</span>

            <div class="flex flex-col gap-2">
                <div class="flex gap-2">
                    <i class="fa-solid fa-id-card text-lg text-white"></i>
                    <span class="text-lg text-white">Blanca Salazar</span>
                </div>
                <div class="flex gap-2">
                    <i class="fa-solid fa-square-phone text-lg text-white"></i>
                    <span class="text-lg text-white">+52 415 149 9833</span>
                </div>
            </div>
        </div>

        <div class="flex flex-col">
            <span class="text-xl text-white font-semibold">Nuestras Redes sociales:</span>

            <div class="flex gap-4">
                <div class="flex gap-2">
                    <div class="flex flex-col gap-2 items-center justify-center">
                        <i class="fa-brands fa-square-whatsapp text-3xl text-white"></i>
                        <span class="text-sm text-white">WhatsApp</span>
                    </div>
                </div>
                <div class="flex gap-2">
                    <div class="flex flex-col gap-2 items-center justify-center">
                        <i class="fa-brands fa-square-facebook text-3xl text-white"></i>
                        <span class="text-sm text-white">Facebook</span>
                    </div>
                </div>
                <div class="flex gap-2">
                    <div class="flex flex-col gap-2 items-center justify-center">
                        <i class="fa-brands fa-square-instagram text-3xl text-white"></i>
                        <span class="text-sm text-white">Instagram</span>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>