<div class="bg-indigo-700 w-screen grid gap-8 md:flex md:flex-col items-center justify-center p-8">

    <div class="flex items-center justify-center w-full ">
        <img class="h-24" src="/assets/footer/logo-footer.png" alt="">
    </div>

    <div class="grid md:flex justify-between gap-4 items-start w-full">

        <div class="flex flex-col w-full gap-4">
            <span class="text-white text-lg font-semibold">Contáctanos:</span>
            <div class="flex gap-8">
                <a href="/nosotros" class="text-white hover:text-primary">Nosotros</a>
                <a href="/contacto" class="text-white hover:text-primary">Contacto</a>
            </div>
        </div>
        <div class="flex flex-col w-full gap-4">
            <span class="text-white text-lg font-semibold">Información de contacto:</span>
            
            <div class="flex flex-col">
                <div class="flex gap-4">
                    <i class="fa-sharp fa-solid fa-address-card text-white text-2xl"></i>
                    <span class="text-white text-lg">Blanca Salazar</span>
                </div>
                <div class="flex gap-4">
                    <i class="fa-solid fa-square-phone text-white text-3xl"></i>
                    <span class="text-white text-lg">+52 415 149 8999 </span>
                </div>
                <div class="flex"></div>
            </div>
            
        </div>
        <div class="flex flex-col w-full gap-4">
            <span class="text-white text-lg font-semibold">Nuestras redes sociales:</span>

            <div class="flex items-center justify-start gap-4">

                <a class="flex flex-col items-center justify-center gap-2" href="https://api.whatsapp.com/message/IVB34Z2T7D5UO1?autoload=1&app_absent=0">
                    <i class="fa-brands fa-square-whatsapp text-3xl text-white"></i>
                    <span class="text-white">WhatsApp</span>
                </a>

                <a class="flex flex-col items-center justify-center gap-2" href="https://www.facebook.com/transcoordallende">
                    <i class="fa-brands fa-square-facebook text-3xl text-white"></i>
                    <span class="text-white">Facebook</span>
                </a>

                <a class="flex flex-col items-center justify-center gap-2" href="https://www.instagram.com/transcoordallende/">
                    <i class="fa-brands fa-square-instagram text-3xl text-white"></i>
                    <span class="text-white">Instagram</span>
                </a>

            </div>

        </div>
    </div>
    
</div>