<section style="background-image: url(/assets/inicio/01-cover.jpg);"
    class="w-screen h-screen bg-cover bg-center bg-no-repeat relative">

    <div class="flex flex-col z-0 static w-ful">

        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path class="fill-indigo-700" fill="#4338CA" fill-opacity="1" d="M0,256L60,266.7C120,277,240,299,360,282.7C480,267,600,213,720,186.7C840,160,960,160,1080,186.7C1200,213,1320,267,1380,293.3L1440,320L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
        </svg>
        <app-navbar class="z-10 absolute w-full "></app-navbar>
    </div>

    <div class="mt-24">

        <div class="flex flex-col items-end justify-end gap-6 p-2 mx-32">

            <span class="flex text-indigo-100 bg-indigo-700 opacity-60 rounded-md p-2 text-end -mt-20 font-bold text-3xl md:text-5xl w-[70%]">
                Te brindamos nuestro esfuerzo y compromiso para ofrecerte la mejor experiencia en tu viaje.
            </span>

            <div class="flex ml-32 mt-16">
                <button class="rounded-md font-bold bg-indigo-700 fon-bold px-6 py-2 hover:bg-primary text-white">Contáctanos</button>
            </div>

        </div>


    </div>

</section>

<section 
    style="background-color: #EBEEF2;" 
    class="w-screen h-screen grid justify-between">

    <div class="grid mx-16 py-8">

        <div style="background-color: #EDBD85;" class="w-fit h-8 p-2 rounded-md flex justify-center items-center">
        <span class="text-center text-indigo-700 text-2xl font-bold">Nuestro Servicio</span>
        </div>

        <p class="ml-8 mt-4 text-indigo-700 text-xl">
        Ofrecemos <strong>nuestra experiencia</strong> en el Servicio de transporte y la coordinación de tu evento, a través de un equipo altamente especializado, 
        el cual <strong>se adaptará a sus necesidades</strong>, y tendrá en cuenta las características de tu servicio.
        </p>

        <div class="w-full grid my-4 gap-4 justify-center p-3 md:grid-cols-2 lg:grid-cols-3">

            <div *ngFor="let item of servicios" class=" h-36 bg-indigo-700 rounded-md grid items-start justify-center p-4">

                <div class="flex gap-2">
                    <div class="h-12 w-12 flex rounded-full p-2 bg-white items-center justify-center">
                        <i class="{{item.icono}}"></i>
                    </div>
                    <span style="color: #EDBD85;" class="text-xl w-64 font-bold">{{item.titulo}}</span>
                </div>

                <div class="gap-4 grid" *ngFor="let data of item.features">
                    <div style="color: #EDBD85;" class="font-regular">{{data}}</div>
                </div>

            </div>

        </div>

    </div>

    <div class="grid bg-indigo-700 p-4">

        <div class="w-full grid mx-16">

            <div style="background-color: #EDBD85;" class="mt-8 w-fit h-8 p-2 rounded-md flex justify-center items-center">
                <span class="text-center text-indigo-700 text-2xl font-bold">Nuestro compromiso con nuestros clientes</span>
            </div>
    
        </div>
    
        <div class="w-full grid md:grid-cols-2 gap-4 items-center justify-center p-4">
    
            <div *ngFor="let item of compromiseCards" style="background-color:#EBEEF2 ;" class="w-96 h-28 rounded-md p-2 grid mx-16">
                <div class="flex gap-4">
                    <span class="text-indigo-700 font-bold text-xl">{{item.titulo}}</span>
                    <i class="{{item.icono}}"></i>
                </div>
                <div class="mx-2 mt-4">
                    <p class="text-md text-indigo-800">{{item.text}}</p>
                </div>
            
    
            </div>
    
        </div>
    </div>


</section>


<section class="bg-white w-screen h-screen  grid md:flex md:flex-col justify-center p-4">

    <div class="flex mx-16 flex-col gap-4">
        <span class="text-indigo-700 p-2 bg-primary rounded-md text-2xl font-bold w-fit">Nuestros vehículos</span>
        
        <p class="ml-8 mt-4 text-indigo-700 text-xl">
            Proponemos a nuestros clientes un <strong>servicio flexible</strong> en donde nos adaptamos a sus necesidades. 
            Muchos de los destinos están enfocados en la actividad local de SanMigue de Allende y la zona del bajío, 
            sin embargo, nos esforzamos por brindar <strong>cobertura a nivel nacional</strong>.
        </p>
    </div>

    <div class="grid md:grid-cols-3 items-center justify-center mt-8 mx-16 w-full">

        <div *ngFor="let item of autos" class=" bg-indigo-700 rounded-md grid items-start justify-center w-72 md:w-[70%]">
            <div class="grid">
                <img class="rounded-t-md bg-fit h-fit sticky" src="{{item.image}}" alt="">
                <span class="text-white text-3xl m-3 absolute my-48 font-semibold">{{item.title}}</span>
            </div>
            <div class="w-full py-8 flex items-center justify-center">
                <p style="color: #EDBD85;" class="text-lg">{{item.features}}</p>
            </div>
        </div>

    </div>

</section>

<app-footer class="w-screen"></app-footer>